.incorrect {
	border: 3px solid red;
	background-color: red;
}
.correct {
	border: 3px solid #0a0;
	background-color: #0a0;
}
input {
	border: 1px #bbb solid;
}
.textBox {
	border: 1px #bbb solid;
}
.textSource {
	height: 25px !important;
	padding-left: 1px !important;
}
